@use '../variables/theme.module.scss' as *;

.form--create-comic-issue {
	.issue-number-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 34px;
	}
	.issue-release-date-wrapper {
		margin-bottom: 2rem;
	}
	.issue-release-date {
		background: $grey-500;
		border: none;
		border-radius: 8px;
	}
}
