@use '../variables/theme.module.scss' as *;

.form--create-comic {
	padding: 60px 120px;

	.audience-status-wrapper {
		display: flex;
		flex-direction: row;
	}

	.audience-status-container {
		width: 100%;
		margin-right: 40px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.checkmark-row {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.checkmark-text {
		margin-left: 20px;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		color: $white;

		&--highlighted {
			color: $yellow;
		}
	}
}
