@use '../variables/theme.module.scss' as *;

.form--edit-comic-issue-covers {
	.rarities-select {
		width: 262px;
	}

	.rarity-cover-wrapper {
		display: flex;
		justify-content: center;
	}

	.cover-image-upload {
		aspect-ratio: $comic-issue-cover-aspect-ratio;
		margin-right: 50px;
	}

	.default-issue-checkbox {
		margin-right: 12px;
	}

	.default-issue-checkbox-wrapper {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
	}
}
