@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.form--edit-comic-issue-covers {
	.rarities-select {
		width: 262px;
	}
	.rarity-header {
		display: flex;
		width: 100%;
		padding: 20px 0;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
	}
	.rarity-cover-wrapper {
		display: flex;
		flex-direction: column;

		@include lg {
			flex-direction: row;
		}
	}

	.cover-image-upload {
		aspect-ratio: $comic-issue-cover-aspect-ratio;
		margin-right: 50px;
	}

	.default-issue-checkbox {
		margin-right: 12px;
	}

	.default-issue-checkbox-wrapper {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 22px;
	}
}
