@use '../mixins/breakpoints.module.scss' as *;

.form--edit-comic-socials {
	max-width: 820px;

	.social-media-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.social-media-container {
		width: 100%;

		@include sm {
			width: calc(50% - 9px);

			&:nth-child(2n - 1) {
				margin-right: 18px;
			}
		}
	}

	.group-label {
		margin-bottom: 34px;
	}
}
