@use '../mixins/breakpoints.module.scss' as *;

.form--edit-comic-issue-pages {
	max-width: 100%;

	.upload-pages {
		width: 100%;
		min-height: 256px;
		height: max-content;

		.preview-image-list {
			flex-wrap: wrap;
		}

		.preview-image-wrapper {
			margin: 0.5%;
			width: 49%;

			@include md {
				margin: 0.5%;
				width: 24%;
			}

			@include lg {
				margin: 0.5%;
				width: 19%;
			}

			@include xl {
				margin: 0.5%;
				width: 11.5%;
			}
		}
	}

	.page-previews-number-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 460px;
		margin-bottom: 34px;
	}
}
