@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.form--edit-visual-identity {
	text-align: center;
	height: max-content;
	max-width: 100%;

	.profile-assets-upload {
		position: relative;
		width: 100%;
		margin: 0 auto;

		.avatar-upload {
			position: absolute;
			bottom: -60px;
			margin: 1rem auto;
			border-radius: 90%;
			padding: 0.5rem;

			left: 20px;
			width: 100px;
			height: 100px;

			@include md {
				left: 40px;
				width: 120px;
				height: 120px;
			}

			.preview-image {
				border-radius: 90%;
			}
		}

		.banner-upload {
			aspect-ratio: $creator-banner-aspect-ratio;
			width: 100%;
			height: auto;
			margin: 1rem auto;
			padding: 0.5rem;
		}
	}

	.action-button {
		margin-top: 20px;
	}
}
.discord-button {
	margin-bottom: 20px;
}
