@use '../variables/theme.module.scss' as *;

.form--edit-comic-issue-stateful-covers {
	.rarity-cover-wrapper {
		margin-top: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 40px;
		text-align: center;
		.label {
			justify-content: center;
		}
	}

	.cover-upload-wrapper {
		position: relative;
		aspect-ratio: $comic-issue-cover-aspect-ratio;
		width: 200px;

		.cover-upload,
		.signature-overlay,
		.overlay-image {
			aspect-ratio: $comic-issue-cover-aspect-ratio;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .expandable {
	// 	max-width: 100%;
	// 	position: relative;
	// 	&:focus-within .stateful-cover-dropdown-wrapper {
	// 		display: none; // Hide dropdown wrapper when Expandable is not focused
	// 	  }
	// }
	// .stateful-cover-dropdown-wrapper {
	// 	top: 6rem;
	// 	left: 3rem;
	// 	position: absolute;
	// 	z-index: 1;
	// 	display: flex;
	// 	justify-content: center;
	// 	gap: 1rem;
	// 	aspect-ratio: $comic-issue-cover-aspect-ratio;
	// }
	// .stateful-cover-dropdown {
	// 	width: 10rem;
	// 	margin: 0;
	// }
	// .expandable-content {
	// 	display: flex;
	// }

	.expandable {
		max-width: 100%;
		position: relative;

		&:focus-within .stateful-cover-dropdown-wrapper {
			display: none; // Hide dropdown wrapper when Expandable is not focused
		}
	}

	.stateful-cover-dropdown-wrapper {
		top: 6rem;
		left: 3rem;
		position: absolute;
		z-index: 1;
		display: flex;
		justify-content: center;
		gap: 1rem;
		aspect-ratio: $comic-issue-cover-aspect-ratio;
	}

	.stateful-cover-dropdown {
		width: 10rem;
		margin: 0;
	}

	.expandable-content-wrapper {
		display: none;
	}

	.expandable-content-wrapper--expanded {
		display: flex;
	}
	.expandable-content {
		display: flex;
	}
}
