@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.form--edit-comic-assets {
	.comic-file-wrapper {
		width: 100%;
		display: flex;
	}

	.comic-file-container {
		width: 100%;
		margin-right: 20px;
		@include flexColumn;

		@include lg {
			margin-right: 40px;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	.comic-cover-input {
		aspect-ratio: $comic-cover-aspect-ratio;
		width: 100%;
		height: auto;

		@include lg {
			height: 100%;
		}
	}

	.comic-banner-input {
		aspect-ratio: $comic-banner-aspect-ratio;
		height: auto;
		width: 100%;
	}

	.comic-logo-input {
		aspect-ratio: $comic-logo-aspect-ratio;
		height: auto;
		width: 100%;

		@include lg {
			min-height: 140px;
		}
	}

	.comic-pfp-input {
		aspect-ratio: $comic-pfp-aspect-ratio;
		width: 100%;
		height: auto;

		@include lg {
			height: 100%;
		}
	}
}
