@use '../variables/theme.module.scss' as *;

.form--edit-comic-issue-assets {
	.comic-issue-signature-input {
		aspect-ratio: $comic-issue-signature-aspect-ratio;
		width: 100%;
		height: auto;
	}

	.comic-issue-pdf-input {
		aspect-ratio: $comic-issue-cover-aspect-ratio;
		width: 100%;
		height: auto;
	}
}
