@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.creator-item {
	width: 100%;
	cursor: pointer;
	
	&:hover {
		background-color: black !important;
	}


	.creator-image {
		position:  relative !important;
		aspect-ratio: $creator-avatar-aspect-ratio;
		height: auto !important;
		max-height: 150px;
		margin: auto;
	}

	.creator-avatar {
		@extend .creator-image;
		border-radius: 100%;
		max-width: 100px;
	}

	.creator-logo {
		@extend .creator-image;
		border-radius: 10%;
		aspect-ratio: $creator-logo-aspect-ratio;
		max-width: 150px
	}

	.creator-banner {
		@extend .creator-image;
		aspect-ratio: $creator-banner-aspect-ratio;
		max-width: 250px;
		border-radius: 10%;
	}
}
