@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.creator-list-wrapper {
	width: 100%;
	margin: 24px;
	@include pagePadding;

	table {
		display: table;
		width: 100%;
		overflow: scroll;
	}

	thead {
		background-color: $grey-500;
	}
	
	tr:nth-child(2n) {
		background-color: rgba($grey-500, 0.6);
	}

	td {
		text-align: center;
		align-items: center;
		padding: 8px;
		font-size: large;
		overflow: hidden;
	}

	.title {
		margin-bottom: 16px;
		margin-top: -8px;
	}

	.content-empty {
		padding: 8px;
		font-weight: 700;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		color: $grey-200;
	}

	.loading-more {
		@include centeredRow;
		padding: 2rem 1rem;

		svg {
			color: $grey-100;
		}
	}
}
