@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.hint-drawer {
	background: $grey-600;
	white-space: pre-wrap;

	// width: max-content;
	margin-left: auto;

	.hint-drawer-content {
		height: 100%;

		& img {
			max-width: 100%;
			height: auto;
		}
	}

	&--open {
		width: 100%;

		@include lg {
			min-width: 450px;
			width: 450px;

			.hint-drawer-title-wrapper,
			.hint-drawer-content {
				border-left: 1px solid $grey-300;
			}
		}
	}

	&--closed {
		position: absolute;
		right: 0;
		top: 0;

		.hint-drawer-title-wrapper {
			border-left: 1px solid $grey-300;
		}

		@include md {
			position: initial;

			.hint-drawer-content {
				border-left: 1px solid $grey-300;
			}
		}

		.hint-drawer-title,
		.hint-drawer-content > * {
			display: none;
		}
	}

	.hint-drawer-title-wrapper {
		padding: 0.5rem;
		border-bottom: 1px solid $grey-300;
		justify-content: space-between;
		@include flexRow;
		align-items: center;
	}

	.hint-drawer-title {
		font-weight: bold;
		padding: 0 0.75rem;
	}

	.hint-drawer-button {
		background: none;
		border: none;
		@include clickable;

		svg {
			width: 28px;
			height: auto;
		}
	}

	.expandable {
		border: none;
		padding: 0.5rem;
		margin-bottom: 0.5rem;

		.expandable-header,
		.expandable-content {
			border: none;
			padding: 0.5rem 0.75rem;
		}

		.expandable-content-wrapper img {
			max-width: 460px;
			width: 100%;
		}

		.expandable-content {
			font-size: 18px;
		}
	}
}

.main--with-hint-drawer {
	display: flex;
	position: relative;
}

.hint-image {
	position: relative;
	margin-bottom: 0.5rem;
	border: 1px dashed $grey-300;
	border-radius: 8px;
	padding: 0.8rem;

	&:first-child {
		margin-top: 0.5rem;
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: 0.5rem;
		margin: 0 auto;
	}

	.text {
		margin: 0 0 0.5rem 0;
		text-align: center;
		font-weight: bold;
		border-top-right-radius: 8px;
	}
}
