@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.raw-comic-item {
	cursor: pointer;
	width: 100%;

	&:hover {
		background-color: black !important;
	}

	.comic-image {
		position: relative !important;
		max-height: 150px;
		border-radius: 10%;
	}

	.comic-banner {
		@extend .comic-image;
		aspect-ratio: $creator-banner-aspect-ratio;
		width: 250px;
	}
}
