@use '../variables/theme.module.scss' as *;

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	width: 243px;
	height: 100%;
	padding: 50px 0;
	background: $grey-400;
	border-right: 1px solid $grey-300;

	.sidebar-upper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.sidebar-lower {
		width: 100%;
	}

	.create-button-link {
		margin-top: 60px;
	}

	.create-button {
		width: 196px;
	}

	.document-icon {
		margin-right: 6px;
	}

	.navigation-list {
		width: 100%;
		margin-top: 32px;
	}

	.navigation-item {
		width: 100%;

		&--disabled {
			pointer-events: none;

			&:last-of-type {
				border-bottom: 1px solid $grey-300;
			}

			li {
				& > * {
					opacity: 0.2;
				}

				.soon-tag {
					opacity: 1;
				}
			}
		}

		li {
			width: 100%;
			padding: 23px 27px;
			display: flex;
			align-items: center;
			cursor: pointer;
			border-top: 1px solid $grey-300;
		}
	}

	.soon-tag {
		padding: 2px 4px;
		margin-left: 12px;
		background: $grey-200;
		color: $grey-400;
		border-radius: 2px;
		font-size: 10px;
		line-height: 12px;
		font-weight: 600;
	}

	.navigation-item-icon {
		margin-right: 13px;
		width: 16px;
		height: 16px;
		color: white;

		&--profile {
			fill: white;
		}
	}

	.actions {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding-left: 58px;
	}

	.action {
		margin-bottom: 50px;
		font-weight: 600;
		font-size: 16px;
		cursor: pointer;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
