@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.carousel-slide-page {
    width: calc(100% - 48px);
	margin: 24px;
	@include pagePadding;

	@include sm {
		border: 1px solid $grey-300;
		border-radius: 8px;
	}
    
    .content-table-wrapper {
		margin-top: 2rem;
		overflow-x: auto;
	}

	.content-table {
		width: 100%;
		font-size: 14px;

		@include sm {
			font-size: 16px;
		}

		@include md {
			font-size: 18px;
		}

		thead {
			background-color: $grey-500;
		}

		td {
			padding: 0.5rem;
			width: 1%;
		}

		tr:nth-child(2n) {
			background-color: rgba($grey-500, 0.6);
		}

		.centered {
			text-align: center;
		}

		.no-wrap {
			white-space: nowrap;
		}
	}

	.button--delete {
        margin-top: 2rem;
        width: 100%;
		background-color: $green-500;
		&:hover {
			background-color: $white;
		}
    }

    .button--expired {
        @include unclickable;

        margin-top: 2rem;
        width: 100%;
        background-color: $red-100;
    }
}