@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.comic-page {
	width: calc(100% - 48px);
	margin: 24px;
	@include pagePadding;

	@include sm {
		border: 1px solid $grey-300;
		border-radius: 8px;
	}

	.comic-actions {
		& > *:not(:last-child) {
			margin-bottom: 1rem;
		}

		.socials {
			& > *:not(:last-child) {
				margin-right: 0.5rem;
			}

			.icon-link {
				background-color: $grey-300;
				padding: 0.25rem;
				border-radius: 0.5rem;
			}
		}

		.action-button {
			min-width: unset;
			width: 100%;

			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}
	}

	.comic-cover-wrapper {
		aspect-ratio: $comic-cover-aspect-ratio;
		position: relative;
	}

	.comic-cover {
		aspect-ratio: $comic-cover-aspect-ratio;
		border-radius: 1rem;
	}

	.comic-details-wrapper {
		.badge-row {
			margin: 1rem 0;
			@include flexRow {
				align-items: center;
			}

			.badge {
				border-radius: 0.5rem;
				padding: 0.15rem 0.6rem;
				border-width: 1px;
				border-style: solid;
				white-space: nowrap;

				&:not(:first-child) {
					margin-left: 1rem;
				}

				&--under-review {
					border-color: $grey-100;
					color: $grey-100;
				}

				&--is-popular {
					border-color: $red-100;
					color: $red-100;
					background-color: transparentize($red-100, 0.9);
				}

				&--is-published {
					border-color: $green-500;
					color: $green-500;
					background-color: transparentize($green-500, 0.9);
				}

				&--is-completed {
					border-color: $green-500;
					color: $green-500;
					background-color: transparentize($green-500, 0.9);
				}

				&--is-ongoing {
					border-color: $blue-100;
					color: $blue-100;
					background-color: transparentize($blue-100, 0.9);
				}
			}
		}

		.title {
			margin-right: 1rem;

			svg {
				margin-left: 1rem;
				height: 20px;
			}
		}

		.subtitle {
			line-height: 16px;
		}

		.title,
		.subtitle {
			white-space: nowrap;
			margin: 0;
		}

		.flavor-text {
			font-style: italic;
			border-left: 4px solid $green-500;
			padding-left: 0.5rem;
			margin-bottom: 0.5rem;
			color: $grey-100;
		}
	}

	.content-table-wrapper {
		margin-top: 2rem;
		overflow-x: auto;
	}

	.content-table {
		width: 100%;
		font-size: 14px;

		@include sm {
			font-size: 16px;
		}

		@include md {
			font-size: 18px;
		}

		thead {
			background-color: $grey-500;
		}

		td {
			padding: 0.5rem;
		}

		tr:nth-child(2n) {
			background-color: rgba($grey-500, 0.6);
		}

		.centered {
			text-align: center;
		}

		.no-wrap {
			white-space: nowrap;
		}
	}
}
