@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.index {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 58px;
	background: url('~/public/assets/images/background.jpg');
	background-size: cover;

	.title {
		max-width: 100%;
		font-weight: 700;
		font-size: 44px;
		line-height: 44px;
		color: $white;

		@include sm {
			font-size: 66px;
			line-height: 66px;
		}

		@include md {
			font-size: 88px;
			line-height: 88px;
			max-width: 402px;
		}
	}

	.logo {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.description {
		width: 358px;
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		color: $white;

		&--highlighted {
			color: $yellow;
		}
	}

	.actions {
		margin-bottom: auto;
		margin-top: 2rem;
		display: flex;

		.action-button:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
