@use '../variables/theme.module.scss' as *;

.upload-comic-issue-assets-page {
	.form {
		padding: 60px 120px;

		.rarities-select {
			width: 262px;
		}

		.upload-pages {
			width: 100%;
			max-width: 910px;
			height: 410px;
		}

		.rarity-cover-wrapper {
			display: flex;
			justify-content: center;
		}

		.cover-image-upload {
			margin-right: 50px;
		}

		.default-issue-checkbox {
			margin-right: 12px;
		}

		.default-issue-checkbox-wrapper {
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
		}

		.actions {
			display: flex;
			align-items: center;
			margin-top: 120px;
		}

		.action-button {
			margin-right: 30px;
		}

		.action-button-icon {
			margin-left: 8px;
		}
	}
}
