@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.register-page {
	@include pagePadding(10px, 0px, 0px, 0px);

	.loading-spinner {
		width: 100%;
		text-align: center;
		padding: 160px 40px;
	}

	.title {
		text-align: center;
		padding: 20px 0;

		@include sm {
			padding: 40px 0;
		}
	}

	.form {
		padding: 0;

		@include sm {
			padding: 20px 40px;
		}

		@include md {
			padding: 40px 80px;
		}
	}

	.subtitle {
		text-align: center;
	}

	.container {
		@include centeredColumn;
	}

	&--submit {
		.title {
			padding-top: 20px;
		}

		.avatar-image {
			border-radius: 90%;
			border: 2px solid white;
			background-color: $grey-300;
		}
	}
}
