@use '../variables/theme.module.scss' as *;

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 40px;
	border-bottom: 1px solid $grey-300;
}

.title {
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
}
