@use '../variables/theme.module.scss' as *;

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 243px;
	height: 100%;
	padding: 50px 0;
	background: $grey-400;

	.logo-with-text {
	}

	.create-button {
		width: 196px;
		margin-top: 60px;

		.document-icon {
			margin-right: 6px;
		}
	}

	.navigation-list {
		width: 100%;
		margin-top: 32px;

		.navigation-item {
			width: 100%;
			padding: 23px 27px;
			display: flex;
			align-items: center;
			cursor: pointer;
			border-top: 1px solid $grey-300;

			&:last-of-type {
				border-bottom: 1px solid $grey-300;
			}

			&--disabled {
				cursor: not-allowed;

				* {
					opacity: 0.2;
				}

				.soon-tag {
					opacity: 1;
				}
			}

			.soon-tag {
				padding: 2px 4px;
				margin-left: 12px;
				background: $grey-200;
				color: $grey-400;
				border-radius: 2px;
				font-size: 10px;
				line-height: 12px;
				font-weight: 600;
			}

			.navigation-item-icon {
				margin-right: 13px;
			}
		}
	}
}
