// colors
$white: #ffffff;

$green-100: #49c187;
$grey-100: #c2c5ce;
$grey-200: #777d8c;
$grey-300: #414756;
$grey-400: #2f333e;
$grey-500: #1f222a;
$grey-600: #15171c;
$primary-color-light: #1f222a;
$primary-color: #15171c;
$primary-color-dark: #12141c;
$secondary-color: #fff;
$important-color: #1cd681;
$text-color: #fafafa;
$yellow: #fceb54;

// breakpoints
$xs-width: 0px;
$sm-width: 580px;
$md-width: 900px;
$lg-width: 1200px;
$xl-width: 1536px;

$xs-height: 0px;
$sm-height: 580px;
$md-height: 860px;
$lg-height: 1200px;
$xl-height: 1536px;

$comic-cover-aspect-ratio: 1000/900;
$comic-banner-aspect-ratio: 1920/900;
$comic-pfp-aspect-ratio: 400/400;
$comic-logo-aspect-ratio: 800/450;

$comic-issue-cover-aspect-ratio: 690/1000;
$comic-issue-signature-aspect-ratio: 380/240;

$creator-banner-aspect-ratio: 1920/900; // 400/360
$creator-avatar-aspect-ratio: 400/400;
$creator-logo-aspect-ratio: 800/450;

// other
$spacing: 8px;

:export {
	primaryColorLight: $primary-color-light;
	primaryColor: $primary-color;
	primaryColorDark: $primary-color-dark;
	secondaryColor: $secondary-color;
	importantColor: $important-color;
	textColor: $text-color;
	xsWidth: $xs-width;
	smWidth: $sm-width;
	mdWidth: $md-width;
	lgWidth: $lg-width;
	xlWidth: $xl-width;
	spacing: $spacing;
}
